#navbar{
    position: sticky;
   z-index: 10;
    top: 0px;
}
#footer{
    height: 122px;
    margin-top: 55px;
    position: sticky;
    bottom: 0px;
    padding: 10px;
    
    background-color: var(--light);
}
#content{
    height:2000px;
}