#navbar{
    position: sticky;
   z-index: 10;
    top: 0px;
}
#footer{
    position: sticky;
    bottom: 0px;
    padding: 10px;
    height: 110px;
    background-color: var(--light);
}
#content{
    height:2000px;
}